/* DOM之間不要留空間 */
* {
    padding: 0;
    margin: 0;
}

*, body {
	font-family: "微軟正黑體";
}
td{

	color:white;
}
th{

	color:white;
}
.ttt {
	font-size: 418%;
	width: 500px;
	text-align: center;
}

#centerpoint {
    top: 40%;
    left: 50%;
    position: absolute;
}

.center-point:hover div {
	
}

#start-menu .menu-item:hover  {
	background-color: gray;
	color: white;
}

.menu-item {
	margin-bottom: 8px;
	cursor: pointer;
}

.center-point {
	position: fixed;
	width: 500px;
	height: 200px;
	top: 60%;
	left: 50%;
	margin-top: -100px; /* Negative half of height. */
	margin-left: -250px; /* Negative half of width. */
	
	color: gray;
}

#blackScreen {
	width:100%;
	height:100%;
    position:absolute;
    top:0;left:0;
    background: rgba(0,0,0,.5);
    vertical-align: middle;
    text-align: center;
	display:none;
}

#favDialog {
    position: relative;

    width: 600px;
    margin-left: -300px;

    height: 400px;
    margin-top: -200px;

    background-color: rgba(255,255,255,0);

    display: none;
    padding: 20px;
}

#favDialog .header {
    margin: 0;
    padding: 0.6em;
    background-color: #15512d;

    color: white;
    border-top: 10px solid #efe4b0;
    border-right: 10px solid #efe4b0;
    border-left: 10px solid #efe4b0;
}

#favDialog .header a {
	float: right;
	text-decoration: none;
	color: white;
}

#favDialog .header:after {
    content: ""; 
    display: block;
    margin: 0 auto;
    width: 100%;
    padding-top: 4px;
    border-bottom: 3px solid white;
}

#favDialog .content {
    padding: 0.6em;
    /*background-color: white;*/
    color: white;
    background-color: #15512d;
    border-right: 10px solid #efe4b0;
    border-left: 10px solid #efe4b0;
}

#favDialog .footer {
	padding: 0.6em;
    background-color: #15512d;
    
    border-bottom: 10px solid #efe4b0;
    border-right: 10px solid #efe4b0;
    border-left: 10px solid #efe4b0;
}

table {
    border-collapse: collapse;
}
.opening:hover{

    background-color:gray;
    color: white;
}
.windowTitle {
    font-weight: bold;
    font-size: 25px;
}

#courseTable td {
}

#courseTable .course {
	cursor: move;
}

#courseTable .tt {
	background-color: blue;
}